body {
    background-color: gray;
    color: #fff;
    display: flex;
    padding: 25px;
}

.container {
    width: 50%;
    margin: 0 auto;
}

label {
    font-size: 18px;
}

input {
    display: block;
    width: 90%;
    height: 45px;
    padding-left: 20px;
    font-size: 18px;
    outline: none;
    border: 3px solid;
}

input:focus, input:visited {
    border: 3px solid blue;
}

@media (max-width:768px) {
    .container {
        width: 100%;
    }
}